html, body{
    margin: 2%;
    background-color: rgb(146, 115, 175);
}

.container-fluid {
    background-color: rgb(230, 213, 255);
    padding: 3%;
}

#header {
    display: flex;
    flex-direction: row;
}


#title {
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 5%;
}


#nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 60%;
}

.input-group {
    padding-left: 35%;
    padding-right: 35%;
}