html, body{
    margin: 2%;
    background-color: rgb(146, 115, 175);
}

.container-fluid {
    background-color: rgb(230, 213, 255);
    padding: 3%;
}

#header {
    display: flex;
    flex-direction: row;
}


#title {
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 1%;        
}

@media (color) {
    #title {
        color: rgb(133, 110, 156);
    }
}


.navbar {
    display: flex;
    flex-direction: row;
    padding-left: 70%;
    font-size: medium;    
}

#form {
    padding-left: 35%;
    padding-right: 35%;
}

#video {
    align-content: center;
}

.wrapper {
    padding: 1%;
    border: solid;
    border-style: groove;
    border-color:rgb(170, 135, 206);
    background-color: rgb(230, 213, 255);    
}


#history {
    font-size: large;
    font-weight: bold;
    color:rgb(104, 86, 122);
}

#news {
    font-size: large;
    font-weight: bold;
    color:rgb(104, 86, 122);
}

#community {
    font-size: large;
    font-weight: bold;
    color:rgb(104, 86, 122);
}

.main {
    color:rgb(104, 86, 122);
}
